h1 {
	padding-top: 100px;
	margin: 40px; 
	padding-bottom: 20px; 
	color: gray ;
	font-size: 35px;
	font-family: lato;
	text-align: center;
}


	h3 {
		padding-top: 10px;
		margin: 10px; 
		padding-bottom: 20px; 
		color: gray ;
		font-size: 20px;
		text-align: left;
		font-family: lato;
	} 


